
.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = link_to "taku",""
      .top-items__icons
        = link_to "#" do
          %i.fa.fa-cog
        = link_to "#" do
          %i.fa.fa-edit
  .side-bar__group-list
    .group-show
      .group-show__name
        %p techcamp
      .group-show__message
        %P まだメッセージがありません
    .group-show
      .group-show__name
        %p techcamp
      .group-show__message
        %P まだメッセージがありません
    .group-show
      .group-show__name
        %p techcamp
      .group-show__message
        %P まだメッセージがありません
    .group-show
      .group-show__name
        %p techcamp
      .group-show__message
        %P まだメッセージがありません
