
.chat-main
  .chat-main__group-info
    .info-items
      .info-items__name
        %p test
      .info-items__member
        %p Member : taku
    .info-edit
      = link_to "Edit","#" 
  .chat-main__message-list
    .message-top
      .message-top__name
        %p taku 
      .message-top__date
        %p 2019/11/20(Wed) 17:43:01 
    .message-text
      %p おはよう
    .message-top
      .message-top__name
        %p taku 
      .message-top__date
        %p 2019/11/20(Wed) 17:43:01 
    .message-text
      %p こんにちは
    .message-top
      .message-top__name
        %p taku 
      .message-top__date
        %p 2019/11/20(Wed) 17:43:01 
    .message-text
      %p 了解です。
    .message-top
      .message-top__name
        %p taku 
      .message-top__date
        %p 2019/11/20(Wed) 17:43:01 
    .message-text
      %p チャットスペース
  .chat-main__message-form
    .input-box
      .input-box__type-area
        %input(type="text" placeholder="type a message")
      %label{class: "input-box__image"}
        = icon('fa', 'image')
        %input{type: "file"}
    %input(type="submit" value="Send" class="send-btn")

