* {
  box-sizing: border-box;
}

$white:#ffffff;

.side-bar {
  height: 100vh;
  width: 300px;
  float: left;
  &__user-name {
    height: 100px;
    background-color: #253141;
    .top-items {
      height: 20px;
      width: 260px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      line-height: 100px;
      &__name {
        text-decoration: none;
        font-size:16px;
        color: $white;
      }
      &__icons {
        width: 60px;
        a {
        float: right;
        color: $white;
        margin-left:5px;
        text-decoration: none;
        }
      }
    }
  }

  &__group-list {
    background-color: #2f3e51;
    height: calc(100% - 100px);
    .group {
      padding: 20px;
      color: $white;
      font-weight: bold;
      a {
        text-decoration: none;
      }
      &__name {
        color: $white;
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__message {
        color: $white;
        font-size: 11px;
        padding-bottom: 20px;
      }
    }
  }
}

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color:$white;
  float: right;
  &__group-info {
    background-color: $white;
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    .info-items {
      float: left;
      &__name {
        font-size: 20px;
        color: #333333;
        padding-top: 35px;
        padding-bottom: 15px;
      }
      &__member {
        font-size: 12px;
        color: #999999;
      }
    }
    .info-edit {
      width: 72px;
      float: right;
      margin-top: 30px;
      border: 1px solid #38aef0 ;
      a {
        font-size: 16px;
        height: 40px;
        line-height: 40px;  
        color: #38aef0;
        text-decoration: none;
        padding: 0 20px;
      }
    }
  }
  &__message-list {
    background-color: #fafafa;
    height: calc(100% - 100px - 90px);
    padding-top: 35px;
    padding-left: 40px;
    overflow: scroll;
    .message-top {
      padding-bottom: 12px;
      &__name {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        float: left;
        padding-right: 5px;
      }
      &__date {
        font-size: 12px;
        color: #999999;
      }
    }
    .message-text {
      padding-bottom: 46px;
      &__content{
      font-size: 14px;
      color: #434A54;
      }
    }
  }
  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
    padding: 0 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .input-box {
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .form {
        width: 100%;
        position: relative;
        display: flex;
      }
      &__type-area {
        line-height: 50px;
        width: 100%;
        padding-left: 10px;
      }
      &__image input{
        display: none;
      }
      i {
        font-size: 1.3rem;
        position: absolute;
        top: 17px;
        right:  130px;
      }
    }
    .send-btn {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: $white;
    }
  }
}